* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
  }
  body{
    background-color: #efefef;
  }
  
  /* Navigation */
  .navigation-header {
    background-color: white;
    padding: 0 15px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container > a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
  }
  .navigation-items {
    display: flex;
    gap: 40px;
  }
  .navigation-items > a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
  }
  .navigation-items > a:hover {
    color: white;
  }
  .navigation-items.active{
    display: flex;
  }
  .hamburger {
    display: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
  }

  .hamburger > span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #000000;
    border-radius: 3px;
  }

  @media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        cursor: pointer;
      }
  
      .navigation-items {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 65px;
        background-color: white;
        width: 100%;
        height: calc(100vh - 58px);
        padding-top: 60px;
        gap: 10vh;
      }
      .navigation-items > a {
        padding: 10px;
      }
    
  }
  
